@charset "utf-8";
/*CSS document */
*{
    margin: 0px;
    padding: 0px;
}
#cabecera {
    padding: 40px;
    text-align: left;
    background-color: rgb(246, 245, 242);
    color: white;
}
header {
    align-items: center;
    font-family: "Monospace";
}
@font-face {
    font-family: "Monospace";
    src: url("fonts/DMMono-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: medium;
}
body {
    font-family: "Monospace";
}
h1 {
    font-family: "Monospace";
    font-weight: 400;
    font-style: Medium italic;
    text-transform: uppercase;
}
h2 {
    font-style: italic;
    font-weight: 500;
}
h3 {
    font-style: medium;
    color: rgb(61, 0, 0);
}
.programas{
    color: rgb(55, 58, 64);
}
.cursos {
    color: rgb(55, 58, 64);
}
.educacion {
    color: rgb(55, 58, 64);
}
.aptitudes {
    color: rgb(55, 58, 64);
}
h4 {
    font-style: medium italic;
    text-transform: uppercase;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 10px 30px;
    border: 1px solid black;
    background-color: white;
}
a {
    text-decoration: none;
}
a:link {
    color: rgb(104, 109, 118);
}
a:hover {
    color: rgb(100, 56, 67);
    font-size: 2em;
}
footer {
    font-size: smaller;
    color: rgb(104, 109, 118);
    padding: 10px;
    text-align: center;
    background-color: rgb(245, 247, 248);
}